<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the semester to delete.<br><br>
        <form method="POST" action="/deleteadvsemester">
            <input type="text" name="std_semester" class="form" placeholder="e.g., Fall">
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>