<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <fieldset style="width: fit-content; text-align: center;">Please select an Advisor attribute to delete based on.<br><br>
        <input type="button" id="deleteadvisorAID" name="operation" value="A_ID" onclick="location.href='/deleteadvisorAID'"><br><br>
        <input type="button" id="deleteadvisorSID" name="operation" value="S_ID" onclick="location.href='/deleteadvisorSID'"><br><br>
        <input type="button" id="deleteadvisorPID" name="operation" value="P_ID" onclick="location.href='/deleteadvisorPID'"><br><br>
        <input type="button" id="deleteadvisorsemester" name="operation" value="Semester" onclick="location.href='/deleteadvisorsemester'"><br><br>
        <br>
        
    </fieldset>

</body>
</html>