<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the department information to insert.<br>
        <form method="POST" action="/insertdept">
            <p>D_ID</p>
            <input type="integer" name="std_DID" class="form" placeholder="e.g., 111222"><br>
            <p>Department Chair</p>
            <input type="text" name="std_chair" class="form" placeholder="e.g., Brennan"><br>
            <p>Building</p>
            <input type="text" name="std_building" class="form" placeholder="e.g., BECC"><br>
            <p>Budget</p>
            <input type="decimal" name="std_budget" class="form" placeholder="e.g., 100000"><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>