<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the major information to insert.<br>
        <form method="POST" action="/insertmaj">
            <p>Name_ID</p>
            <input type="text" name="std_NameID" class="form" placeholder="e.g., 111222"><br>
            <p>D_ID</p>
            <input type="integer" name="std_DID" class="form" placeholder="e.g., 111222"><br>
            <p>Full Name</p>
            <input type="text" name="std_name" class="form" placeholder="e.g., John Smith"><br>
            <p>Required Credits</p>
            <input type="integer" name="std_credit" class="form" placeholder="e.g., 121"><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>