<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the student information to insert.<br>
        <form method="POST" action="/insertstud">
            <p>S_ID</p>
            <input type="integer" name="std_SID" class="form" placeholder="e.g., 111222"><br>
            <p>Name</p>
            <input type="text" name="std_name" class="form" placeholder="e.g., John Smith"><br>
            <p>Total Credits</p>
            <input type="integer" name="std_credit" class="form" placeholder="e.g., 121"><br>
            <p>M_ID</p>
            <input type="integer" name="std_MID" class="form" placeholder="e.g., 111222"><br><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>