<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset style="width: fit-content; text-align: center;">Please select your operation below<br><br>
        <input type="button" id="create" name="operation" value="create" onclick="location.href='/create'"><br><br>
        <input type="button" id="display" name="operation" value="display" onclick="location.href='/display'"><br><br>
        <input type="button" id="update" name="operation" value="update" onclick="location.href='/update'"><br><br>
        <input type="button" id="delete" name="operation" value="delete" onclick="location.href='/deleteadvisor'"><br><br>
        <br>
    </fieldset>
    
</body>
</html>