<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <fieldset style="width: fit-content; text-align: center;">Please enter the major information to update.<br>
        <form method="POST" action="/updatemaj">
                <h1> OLD INFORMATION</h1>
            <p>Old Name_ID</p>
            <input type="text" name="std_oldName_ID" class="form" placeholder="e.g., CS"><br>
            <p>Old D_ID</p>
            <input type="integer" name="std_oldDID" class="form" placeholder="e.g., 111222"><br>
            <p>Old Full_Name</p>
            <input type="text" name="std_oldname" class="form" placeholder="e.g., Computer Science"><br>
            <p>Old req_credit</p>
            <input type="integer" name="std_oldcredit" class="form" placeholder="e.g., 45"><br>
                <h2> NEW INFORMATION </h2>
            <p>New Name_ID</p>
            <input type="text" name="std_newName_ID" class="form" placeholder="e.g., CS"><br>
            <p>New D_ID</p>
            <input type="integer" name="std_newDID" class="form" placeholder="e.g., 111222"><br>
            <p>New Full_Name</p>
            <input type="text" name="std_newname" class="form" placeholder="e.g., Computer Science"><br>
            <p>New req_credit</p>
            <input type="text" name="std_newcredit" class="form" placeholder="e.g., Spring"><br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>